{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confira os dados</title>
</head>
<body>
    {% include 'user/links.html' %}
    <h1>Confira os dados</h1>
    <p>Confira atentamente os dados antes de apagar o usuário</p>
    <form action="" method="post">
        {% csrf_token %}
        Confirme que você quer remover {{user.name}}
        <button type="submit">Confirmar</button>
    </form>
</body>
</html>