{% extends 'register/baseHome.html' %}

{% block title %} Publicação {% endblock %}

{% block content %}

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>PUBLICACAO 1</h2>
      <h5>Title description, Dec 7, 2017</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
    </div>
    <ul>
      {% for publicacao in publicacoes %}
        <li>{{publicacao.titulo}}</li>
      {% endfor%}
    </ul>
</div>

<div class="footer">
  <h2>Footer</h2>
</div>
{% endblock %}