{% extends 'register/baseHome.html' %}
{% load static %}
{% block title %} Publicação {% endblock %}

{% block content %}

<div class="row">
  <div class=container>
    <img src="{% static 'img/fotoHome.jpg' %}", alt = "Portal da Fofoca", width=1300, height = 300>
    <div class="card">
      {% for publicacao in publicacoes %}
      <br>
      <h2>{{publicacao.titulo}}</h2>
      <br>
      <h5>{{publicacao.data}}</h5>
      <br>
      <a>{{publicacao.texto}}</a>
      <br>
      <a>-------------------------------------------------------------------------------------------------------</a>
      {% endfor%}
    </div>
    
    <ul>

    </ul>
</div>

{% endblock %}